[project]
	description = Patched, refactored version of code.google.com/hadoop-gpl-compression for hadoop 0.20
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marcin Czech (maczech)
[access "refs/for/refs/*"]
	read = group user/Marcin Czech (maczech)
	push = group user/Marcin Czech (maczech)
	label-Code-Review = -2..+2 group user/Marcin Czech (maczech)
	label-Verified = -1..+1 group user/Marcin Czech (maczech)
	rebase = group user/Marcin Czech (maczech)
	removeReviewer = group user/Marcin Czech (maczech)
	submit = group user/Marcin Czech (maczech)
[access "refs/heads/*"]
	read = group user/Marcin Czech (maczech)
	create = group user/Marcin Czech (maczech)
	push = +force group user/Marcin Czech (maczech)
	pushMerge = group user/Marcin Czech (maczech)
[access "refs/tags/*"]
	push = +force group user/Marcin Czech (maczech)
	createSignedTag = group user/Marcin Czech (maczech)
	createTag = group user/Marcin Czech (maczech)
