[project]
	description = Patched, refactored version of code.google.com/hadoop-gpl-compression for hadoop 0.20
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/maczech
[access "refs/for/refs/*"]
	read = group user/maczech
	push = group user/maczech
	label-Code-Review = -2..+2 group user/maczech
	label-Verified = -1..+1 group user/maczech
	rebase = group user/maczech
	removeReviewer = group user/maczech
	submit = group user/maczech
[access "refs/heads/*"]
	read = group user/maczech
	create = group user/maczech
	push = +force group user/maczech
	pushMerge = group user/maczech
[access "refs/tags/*"]
	push = +force group user/maczech
	pushTag = group user/maczech
	pushSignedTag = group user/maczech
